/*universal selector*/
*{
    border: 2px dashed red;
    color: rgb(255, 255, 5);
}

/*tag selector*/
h1{
    color: red;
}
p{
    background-color: rgb(14, 15, 15);
    color: white;
}
/* Id selector */

#para3{
    background-color: violet;
    color: cyan;
}
/*class selector*/
.group-b{
    background-color: cyan;
    color: darkblue;
}
h2{
    color: red;
}
#head2{
    color: violet;
}
.sec-b{
    color: blue;
}